body {
    border: none;
    margin: 0;
    padding: 0;
    min-height: 15em;
    min-width: 25em;
    background: #42B3C6;
    height: 400px;
}

/* ----------------------------------------------- timer style */

#container-titre-page1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

#timer-container{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#container-t{
    margin-top: 5px;
    width: 50%;
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #8bc5d0;
    box-shadow: 0px -1px 254px 44px rgba(0,0,0,0.78);
    -webkit-box-shadow: 0px -1px 254px 44px rgba(0,0,0,0.78);
    -moz-box-shadow: 0px -1px 254px 44px rgba(0,0,0,0.78);
    border: 0px none #ff6550;
}
#time1{
    font-size: 50px;
    text-shadow: -2px -3px 12px rgba(190,41,41,0.58);
}

#time-loding{
    display: none;
    font-size: 50px;
}
#img-timer{
    margin-top: 12px;
    border-radius: 100%;
    filter: brightness(91%) hue-rotate(229deg) saturate(756%) opacity(29%) contrast(86%);
-webkit-filter: brightness(91%) hue-rotate(229deg) saturate(756%) opacity(29%) contrast(86%);
-moz-filter: brightness(91%) hue-rotate(229deg) saturate(756%) opacity(29%) contrast(86%);
}

#continair-button{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.button1{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: #dcf3cf;
}
/* ----------------------------------------------- fin timer style */
#aller-p2{
    margin: 9px;
    padding-bottom: 11px;
}
#titre-page1{
    width: 100%;
    margin-bottom: 5px;
    background-color: #ADCDDC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    margin-left: 5px;
    color: black;
    font-weight: bold;
}

.content {
    color: red;
    padding: 15px;
}

.flex {
    display: flex;
}

.next_page {
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    background-color: #ADCDDC;
    border-radius: 7px;
    transition-duration: 0.5s;
    margin: 0;
}

.next_page:hover {
    background-color: #ADCDDC;
    color: white;
    margin-left: 40px;
}

.next {
    font-size: 30px;
    margin-left: 20px;
    transition-duration: 0.5s;
    margin-top: -7px;
}

.m0 {
    margin: 0;
}

.album {
    display: none;
}

.movie {
    display: none;
}

.book {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.next {
    font-size: 25px;
}

h1 {
    width: 100%;
}

.btn {
    display: inline-block;
    background-color: #42B3C6;
    border-radius: 10px;
    border: 4px double #DDE2E8;
    color: #eeeeee;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
.btn h4 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.btn h4:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button1:hover {
    background-color: #f7c2f9;
    color: rgb(255, 255, 255);
}
.btn:hover {
    background-color: #ADCDDC;

  }
.btn:hover h4 {
    padding-right: 25px;
  }
.btn:hover h4:after {
    opacity: 1;
    right: 0;
  }

  /* ======================================== page2 */
  .btn {
    width: 90%;
    display: inline-block;
    background-color: #42B3C6
;
    border-radius: 10px;
    border: 4px double #DDE2E8
;
    color: #EEEEEE
;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }
.btn h4 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.btn h4:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
.btn:hover {
    background-color: #ADCDDC
;
  }
.btn:hover h4 {
    padding-right: 25px;
  }
.btn:hover h4:after {
    opacity: 1;
    right: 0;
  }

.img {
    display: none;
    margin: auto;
    box-shadow: 7px 7px 7px black;
}





  #button-gauche-droit{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 150px;
    margin: 9px;
    padding-bottom: 11px;
  }

  /* ======================================== page3 */
  #aller-page-avant{
    margin: 9px;
    padding-bottom: 11px;
  }
  #container-change-photos{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
  }
  #img-titre{
    width: 90%;
  }
  #container-btn-image-change{
    width: 100%;
    display: flex;
    justify-content: center;
  }